/*
    Foundation use a position:relative; on body, which break the 100% rule
    on #map
*/
body.map_detail {
    width: 100%;
    height: 100%;
    position: inherit;
}

/* HOME */
.map_fragment {
    width: 100%;
}
.map_list .map_fragment,
.demo_map .map_fragment {
    height: 210px;
}
.umap-features-list img {
    width: 14px;
    vertical-align: middle;
    padding-right: 14px;
}
.umap-features-list li {
    line-height: 21px;
}

/* Modals */
.reveal-modal.update-tilelayers {
    width: 75%;
    max-height: 500px; /* TODO Make it dynamic */
    overflow: auto;
    margin-left: -35%;
}

/* Global alert */
.alert-box.global {
    z-index: 1001;
    margin-right: auto;
    margin-left: auto;
}

/* Search form */
input::-webkit-input-placeholder, ::-webkit-input-placeholder {
   color: #a5a5a5;
}

input:-moz-placeholder, :-moz-placeholder {
   color: #a5a5a5;
}

#storage-ui-container textarea {
    height: 100px;
}
#storage-ui-container select {
    margin-bottom: 10px;
}

#storage-ui-container.warning .button {
    background-color: #c60f13;
    border: 1px solid #7f0a0c;
}
#storage-ui-container.warning .button:hover {
    background-color: #970b0e;
}

fieldset.toggle > * {
    display: none;
}

fieldset.toggle .more_style_options,
fieldset.toggle legend {
    display: block;
    cursor: pointer;
}
fieldset.toggle .more_style_options:before {
    content: "…";
}
fieldset.toggle legend:before {
    content: "▶";
    padding-right: 5px;
}
fieldset.toggle.on legend:before {
    content: "▼";
}
fieldset.toggle.on > * {
    display: block;
}
fieldset.toggle.on .more_style_options {
    display: none;
}

/* Map infos */
.datalayer_color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid #000;
    background-color: DarkBlue;
}

/* **************** */
/*    Login icons   */
/* **************** */
.login-grid li,
.login-grid a {
    display: inline-block;
}

.login-grid a {
    border: 1px solid #e5e5e5;
    padding: 5px;
    color: #000;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 92px 92px;
    height: 92px;
    width: 92px;
    margin-right: 10px;
}
.login-grid .login-github {
    background-image: url("./github.png");
}
.login-grid .login-bitbucket {
    background-image: url("./bitbucket.png");
}
.login-grid .login-twitter {
    background-image: url("./twitter.png");
}
.login-grid .login-openstreetmap {
    background-image: url("./openstreetmap.png");
}

/*
* Navigation
*/
nav {
    min-height: 70px;
    font-family: sans-serif;
    font-size: 0;
    border-bottom: solid 1px #ddd;
}

nav section, nav h1, nav ul, nav li, nav a {
    display: inline-block;
    font-size: 14px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: normal;
}

nav ul li {
    height: 100%;
}

nav a {
    display: inline-block;
    height: 100%;
    line-height: 70px;
    padding: 0 14px;
    margin: 0 7px 0 0;
    color: #000;
    text-align: center;
}

nav a:hover {
    background-color: #79c1c0;
}

nav h1 a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("./umap.png");
    color: transparent;
    font-size: 0px;
    height: 70px;
}

nav a.logout {
    font-style: italic;
}

nav li.has-button {
    padding-top: 7px;
}

nav .branding ul, nav .branding li,
nav .branding a, nav .branding h1 {
    width: 100%;
}

nav .branding {
    margin-bottom: 7px;
}

/* **************************** */
/*            colors            */
/* **************************** */
a {
    color: #689191;
}
.button, input[type="submit"] {
    background-color: #79c1c0;
}
.button:hover, input[type="submit"]:hover {
    background-color: #689191;
}
.warning {
    color: #cc0000;
}
.tintbox {
    background-color: #28353D;
}
.tintbox,
.tintbox p,
.tintbox a {
    color: #f8f8f8;
    font-family: sans-serif;
}
.tintbox a {
    text-decoration: underline;
}
.tintbox.warning {
    background-color: #cc0000;
    color: #fff;
}
.tintbox .note, .tintbox .note a {
    line-height: 1.2em;
    font-size: 11px;
    font-style: italic;
}
.darline-autocomplete li.on {
    background-color: #79c1c0;
}


/* **************************** */
/*   Override Leaflet.Storage   */
/* **************************** */
body.content #storage-ui-container {
/*    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: inherit;
    height: 30%;*/
    background-color: #fff;
}
#id_editors + br + span.helptext {
    display: none;
}
.storage-loader,
.leaflet-popup-content .storage-popup-footer,
.leaflet-control-browse .storage-browse-actions a.add-datalayer,
.leaflet-control-browse .storage-browse-actions a.storage-browse-link {
    background-color: #79c1c0 !important;
}
