{% extends "base.html" %}

{% load leaflet_storage_tags compress i18n %}

{% block body_class %}content{% endblock %}

{% block extra_head %}
    {% compress css %}
      {% leaflet_storage_css %}
    {% endcompress css %}
    {% leaflet_storage_js %}
{% endblock %}

{% block header %}
  <div class="col _35">
    {% include 'umap/navigation.html' %}
  </div>
{% endblock %}

{% block content %}
<div class="col _35">
  <form action="{% url 'search' %}" method="GET">
  <div class="part _29">
    <input name="q" type="search" placeholder="{% trans 'Search maps' %}" value="{{ q|default:"" }}" />
  </div>
  <div class="part _5">
    <input type="submit" value="Search" />
  </div>
  </form>
</div>
<hr />
<div class="col _35 map_list">
  <h2>{% trans "Last maps" %}</h2>
  {% include "leaflet_storage/map_list.html" %}
</div>

<!-- Included JS Files -->
{% endblock content %}

{% block bottom_js %}
  {{ block.super }}
  <script type="text/javascript">
    D.Event.on('a.login', 'click', function (e) {
        D.Event.stop(e);
        L.Storage.Xhr.login({
            "login_required": this.getAttribute('href'),
            "redirect": "/"
        });
    });
    D.Event.on('a.logout', 'click', function (e) {
      D.Event.stop(e);
      L.Storage.Xhr.logout(this.getAttribute('href'));
    });
    D.Event.on('a.create-map', 'click', function (e) {
      D.Event.stop(e);
      L.Storage.Xhr.get(this.getAttribute('href'), {
        listen_form: {id: "map_edit"}
      });
    });
    var getMore = function (e) {
        D.Event.stop(e);
        D.Xhr.get(this.href, {
            callback: function (data) {
                var container = this.parentNode;
                container.innerHTML = data;
                D.DOM.forEach(D.DOM.get('script', container), function (item) {
                    eval(item.firstChild.textContent);
                });
                D.Event.on('.more_button', 'click', getMore);
            },
            thisobj: this
        });
    }
    D.Event.on('.more_button', 'click', getMore);
  </script>
{% endblock bottom_js %}