{% extends "umap/content.html" %}

{% load leaflet_storage_tags i18n %}

{% block content %}
{% if not user.is_authenticated %}
  {% include "umap/about_summary.html" %}
<hr />
{% endif %}
{% include "umap/search_bar.html" %}
<div class="col _35 map_list">
  <h2>{% trans "Get inspired, browse maps" %}</h2>
  {% include "leaflet_storage/map_list.html" %}
</div>

{% endblock content %}
