{% load leaflet_storage_tags umap_tags i18n %}

{% for map_inst in maps %}
<div class="col _35">
    {% map_fragment map_inst %}
    <div class="tintbox"><strong>{{ map_inst.name }}</strong>{% if map_inst.owner %} <em>{% trans "Cooked up by" %} <a href="{% url 'user_maps' map_inst.owner.username %}">{{ map_inst.owner }}</a></em>{% endif %} — <a href="{{ map_inst.get_absolute_url }}">{% trans "See this map!" %}</a></div>
</div>
{% endfor %}
{% if maps.has_next %}
    <div class="col _35"><a href="?{% paginate_querystring maps.next_page_number %}" class="button more_button">{% trans "More" %}</a></div>
{% endif %}